.guitarra{
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 1rem;
    align-items: center;
    padding: 1.5rem;
    max-width: 70rem;
    margin: 0 auto;
}
.contenido{
    padding: 1rem;
}

.contenido h3{
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 3rem;
    color: var(--negro);
}

.contenido .descripcion{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

.contenido .precio{
    color: var(--primary);
    font-size: 5.5rem;
    font-weight: 900;
    margin: 0;
}

.enlace{
    display: block;
    margin-top: 2rem;
    text-decoration: none;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 900;
    color: var(--negro);
    border: 2px solid #17C3B2;
    padding: 1rem 3rem;
    transition-property: all;
    transition-timing-function: linear;
    transition-duration: .2s;
}
.enlace_volver{
    display: block;
    margin-top: 2.5rem;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--negro);
    border: 2px solid #17C3B2;
    padding: 1rem 3rem;
    transition-property: all;
    transition-timing-function: linear;
    transition-duration: .2s;
}

@media (min-width: 768px) {
    .enlace_volver{
        display: inline-block;
    }
}

.enlace:hover{
    background-color: #17C3B2;
    color: var(--blanco);
}

.enlace_volver:hover{
    background-color: #17C3B2;
    color: var(--blanco);
}

.contenido_desc{
    max-width: 80%;
    margin-top: 2rem;
    margin: 0 auto;
}

.contenido_text{
    padding: 2rem;
}
.contenido_text .nombre{
    font-size: 4rem;
    font-weight: 900;
    text-transform: uppercase;
    font-style: italic;
    color: var(--primary);
    text-align: center;
    margin: 0;
}
.contenido_text .precio{
    color: darkgrey;
    font-size: 3rem;
    text-align: center;
    font-weight: 900;
    margin: 0;
}

.contenido_desc .descripcion{
    white-space: pre-wrap;
}

.formulario{
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
}

.formulario label{
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
}

.formulario select{
    border: 1px solid var(--primary);
    border-radius: 1.5rem;
    padding: 1rem;
    text-align: center;
}

.formulario input[type="submit"]{
    display: block;
    margin-top: 3rem;
    background-color: var(--primary);
    text-transform: uppercase;
    padding: 2rem;
    border: none;
    color: var(--blanco);
    font-weight: 700;
    transition-property: all;
    transition-timing-function: linear;
    transition-duration: .2s;
}

.formulario input[type="submit"]:hover{
    background-color: var(--negro);
    cursor: pointer;
}